---
import AdminLayout from "@/layouts/admin-layout.astro";
import PostForm from "./_form.tsx";
---

<AdminLayout title="新建文章">
  <div class="flex flex-col gap-6">
    <div>
      <h1 class="text-2xl font-bold tracking-tight">新建文章</h1>
      <p class="text-muted-foreground">在平台上创建一篇新的文章或公告</p>
    </div>

    <PostForm client:only="react" />
  </div>
</AdminLayout>
