---
import AdminLayout from "@/layouts/admin-layout.astro";
import PostTable from "./_table.tsx";
---

<AdminLayout title="文章管理">
  <div class="flex flex-col gap-6">
    <div>
      <h1 class="text-2xl font-bold tracking-tight">文章管理</h1>
      <p class="text-muted-foreground">管理平台的所有文章/公告</p>
    </div>

    <PostTable client:load />
  </div>
</AdminLayout>
